.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "header header" "nav content";
}

.app-wrapper-content {
    grid-area: content;
    color: #888da8;
    background-color: #edf2f6;
}